.productdisplay{
    display: flex;
    margin: 10px 130px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-imglist{
 display: flex;
 flex-direction: column;
 gap: 15px;
}
.productdisplay-imglist img{
    height: 183px;

}
.productdisplay-main-img{
    width: 586px;
    height: 700px;
}
.productdisplay-right{
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
   color: #3d3d3d;
   font-size: 30px;
   font-weight: 700;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.prodcutdisplay-right-prices{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
    font-size: 20px;
}
.productdisplay-right-oldprice{
    text-decoration: line-through;
    font-weight: 500;
    color: #818181;
}
.productdisplay-right-newprice{
    color: #ff4141;
    font-weight: 600;
}
.productdisplay-right-description{
    text-align: justify;
}
.productdisplay-right-size h1{
 margin-top: 35px;
 color: #656565;
 font-size: 20px;
 font-weight: 600;
}
.productdisplay-right-sizes{
    display: flex;
    margin: 20px 0px;
    gap: 20px;
    font-weight: 500;
    font-size: 18px;
}
.productdisplay-right-sizes div{
    padding: 14px 20px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fbfbfb;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    border: none;
    cursor: pointer;
    margin: 15px 0px;
}
.productdisplay-right button:active{
    background: #d34747;
}
.productdisplay-right-category{
    margin-top: 10px;
}
.productdisplay-right-category span{
    font-weight: 600;
}