.loginsignup{
    height: 80vh;
    width: 100%;
    background: #d67f7f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginsignup-container{
    display: flex;
    flex-direction: column;
    padding: 25px;
    background: #fff;
}
.loginsignup-container h1{
    font-size: 35px;
    color: #171717;
    font-weight: 600;
}
.loginsignup-fields{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.loginsignup-fields input{
    padding: 10px 10px;
    border: 0.5px solid #7e7c7c;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
}
#loginbutton{
    background: #ff4141;
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 15px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
}
.loginsignup-agree{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #5c5c5c;
}
.loginsignup-agree input{
    cursor: pointer;
}
.showPassword{
   position: absolute;
   bottom: 72px;
   right: 10px;
   cursor: pointer;
}